# Angel Media Server
version: "3.3"
services:
  transmission:
    image: ghcr.io/linuxserver/transmission
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
      - TRANSMISSION_WEB_HOME=/combustion-release/ #optional
      - USER=${MEDIASERVER_USER} #optional
      - PASS=${MEDIASERVER_PASS} #optional
    volumes:
      - ${DOCKER_BASE_PATH}/transmission/config:/config
      - ${MEDIASERVER_DOWNLOADS_PATH}:/downloads
      - ${LIBRARY_BASE_PATH}/watch:/watch
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
  jackett:
    image: ghcr.io/linuxserver/jackett
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
      - AUTO_UPDATE=true #optional
    volumes:
      - ${DOCKER_BASE_PATH}/jackett/config:/config
      - ${MEDIASERVER_DOWNLOADS_PATH}:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
  filebot:
    image: jlesage/filebot
    ports:
      - "5800:5800"
    volumes:
      - "${DOCKER_BASE_PATH}/filebot/config:/config:rw"
      - "${DOCKER_BASE_PATH}/filebot/storage:/storage:rw"
      - "${MEDIASERVER_DOWNLOADS_PATH}/complete:/watch:rw"
      - "${LIBRARY_BASE_PATH}:/output:rw"
    environment:
      - USER_ID=${PUID}
      - GROUP_ID=${PGID}
      - TZ=${MEDIASERVER_TZ}
      - AMC_INTERVAL=120
      - AMC_ACTION=move
      - AMC_MOVIE_FORMAT=/output/movies/{n} ({y})/{n} ({y})
      - AMC_SERIES_FORMAT=/output/tv/{n} ({y})/season {s00}/{n} - {s00e00} - {t}
      - AMC_ANIME_FORMAT=/output/tv/{n} ({y})/season {s00}/{n} - {s00e00} - {t}
    restart: unless-stopped
  bazarr:
    image: ghcr.io/linuxserver/bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
    volumes:
      - ${DOCKER_BASE_PATH}/bazarr/config:/config
      - ${LIBRARY_MOVIES_PATH}:/movies #optional
      - ${LIBRARY_TV_PATH}:/tv #optional
    ports:
      - 6767:6767
    restart: unless-stopped
  komga:
    image: gotson/komga
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
    volumes:
      - ${DOCKER_BASE_PATH}/komga/config:/config
      - ${LIBRARY_COMICS_PATH}:/data
    ports:
      - 49171:8080
    restart: unless-stopped
  sonarr:
    image: ghcr.io/linuxserver/sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
    volumes:
      - ${DOCKER_BASE_PATH}/sonarr/config:/config
      - ${LIBRARY_TV_PATH}:/tv
      - ${MEDIASERVER_DOWNLOADS_PATH}:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: ghcr.io/linuxserver/radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
    volumes:
      - ${DOCKER_BASE_PATH}/radarr/config:/config
      - ${LIBRARY_MOVIES_PATH}:/movies
      - ${MEDIASERVER_DOWNLOADS_PATH}:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
  lazylibrarian:
    image: ghcr.io/linuxserver/lazylibrarian
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
      - DOCKER_MODS=linuxserver/calibre-web:calibre|linuxserver/mods:lazylibrarian-ffmpeg #optional
    volumes:
      - ${DOCKER_BASE_PATH}/lazylibrarian/config:/config
      - ${MEDIASERVER_DOWNLOADS_PATH}:/downloads
      - ${LIBRARY_BOOKS_PATH}:/books
    ports:
      - 5299:5299
    restart: unless-stopped
  calibre-web:
    image: ghcr.io/linuxserver/calibre-web
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${MEDIASERVER_TZ}
      - DOCKER_MODS=linuxserver/calibre-web:calibre #optional
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1 #optional
    volumes:
      - ${DOCKER_BASE_PATH}/calibre-web/config:/config
      - ${LIBRARY_BOOKS_PATH}:/books
    ports:
      - 8083:8083
    restart: unless-stopped
  plex:
    image: ghcr.io/linuxserver/plex
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - VERSION=docker
      - PLEX_CLAIM= #optional
    volumes:
      - ${DOCKER_BASE_PATH}/plex/config:/config
      - ${LIBRARY_TV_PATH}:/tv
      - ${LIBRARY_MOVIES_PATH}:/movies
    restart: unless-stopped